# Python cache
__pycache__
*.pyc

# Testing
.cache
.coverage*
.tox
.pytest_cache
.ruff_cache
.cosecha_cache
.tracecov
.tracecov-current
.tracecov-focus
.tmpcov
.coverage

# Logging
*.log

# Packaging & Distributing
build
dist
*.egg-info
venv
env
.venv

# OS specific
.DS_Store
Thumbs.db
